<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/masonry.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/handlebars.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>

<div class="container"></div>