<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DASH</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
</head>
<body>
	<section>
		<div class="sidebar">
			<img src="images/logo.png" alt="Logo" class="logo">
			<hr/>
			<i class="fa fa-home fa-3x icon"></i>
		</div>
	</section>
</body>
</html>