<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DASH</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<section>
		<div class="sidebar">
			<img src="images/logo.png" alt="Logo">
			<span class="sidebar-divider"></span>
			<img src="images/home.png" alt="Home">
		</div>
	</section>
</body>
</html>